{% extends 'base.html.twig' %}
{% block title %}ACCUEIL{% endblock %}

{% block body %}

    <header id="home-header">
        <div id="header-img"></div>
        <h1>PIERRE LLORCA</h1>
        <h2>Développeur web et web mobile</h2>
    </header>
    <section id="projets" class="container-fluid p-5">
        <div class="row section">
            <div class="col-12 p-5">
            <h2 class="text-center">Mes projets</h2>
            </div>
        </div>
        <div class="row section">
            {% for projet in projets %}
                {% if loop.index <= 2 %}
                    <div class="col-6 p-3">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('img/projet/' ~ projet.image) }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ projet.titre }}</h5>
                                <p class="card-text">{{ projet.description|u.truncate(90, '...') }}</p>
                            </div>
                            <div class="card-body text-center">
                                <a href="http://testingenierie.fr" target="_blank" class="btn btn-outline-primary">Voir le site</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row section">
            <div class="col-12 p-5 text-center">
                <a href="#" class="btn btn-primary">Voir plus</a>
            </div>
        </div>
    </section>
    <section id="competences" class="container-fluid">
        <div class="row">
            <div class="col-12 my-auto">
                <h2 class="text-center p-5">Compétences</h2>
            </div>
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 p-5">
                    <h3 class="pb-3">Technologies</h3>
                    <div class="divider"></div>
                    {% for competence in competences %}
                    {% if loop.index <= 5 %}
                    <p><img class="p-4" src="{{ asset('img/competences/' ~ competence.image) }}" alt="Card image cap"> - {{ competence.titre }}</p>
                    {% endif %}
                    {% endfor %} 
            </div>
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 p-5">
                <div id="frameworks" class="text-center p-4">
                    <h3>Frameworks/Librairies</h3>
                </div>
                <div class="divider"></div>
            </div>
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 p-5">
                <div id="cms" class="text-center p-4">
                    <h3>CMS</h3>
                </div>
                <div class="divider"></div>
            </div>
            
        </div>
    </section>
        <div class="row">
            <div class="col-12">
                <section id="apropos"></section>
            </div>
        </div>
        
    </main>

{% endblock %}
