{% extends 'base.html.twig' %}
{% block title %}ACCUEIL{% endblock %}

{% block body %}

    <header id="home-header">
        <div id="header-img"></div>
        <h1>PIERRE LLORCA</h1>
        <h2>Développeur web et web mobile</h2>
    </header>
    <section id="projets" class="container-fluid p-5">
        <div class="row section">
            <div class="col-12 p-5">
            <h2 class="text-center">Mes projets</h2>
            </div>
        </div>
        <div class="row section">
            {% for projet in projets %}
                {% if loop.index <= 3 %}
                    <div class="col-4 p-3">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('img/projet/' ~ projet.image) }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ projet.titre }}</h5>
                                <p class="card-text">{{ projet.description|u.truncate(90, '...') }}</p>
                            </div>
                            <div class="card-body text-center">
                                <a href="http://testingenierie.fr" target="_blank" class="btn btn-outline-primary">Voir le site</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row section">
            <div class="col-12 p-5 text-center">
                <a href="#" class="btn btn-primary">Voir plus</a>
            </div>
        </div>
    </section>
    <section id="competences" class="container-fluid">
        <div class="row">
            <div class="col-12 my-auto">
                <h2 class="text-center p-5">Compétences</h2>
            </div>
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 p-5">
                <div id="technos" class="text-center p-4">
                    <h3 class="pb-3">Technologies</h3>
                </div>
                    <div class="divider"></div>
                    {% for techno in technologies %}
                    <p><img class="p-4" src="{{ asset('img/competences/' ~ techno.image) }}" alt="image technos"> - {{ techno.titre }}</p>
                    {% endfor %} 
            </div>
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 p-5">
                <div id="frameworks" class="text-center p-4">
                    <h3 class="pb-3">Frameworks/Librairies</h3>
                </div>
                <div class="divider"></div>
                {% for framework in frameworks %}
                    {% if loop.index <= 10 %}
                    <p><img class="p-4" src="{{ asset('img/competences/' ~ framework.image) }}" alt="image frameworks"> - {{ framework.titre }}</p>
                    {% endif %}
                {% endfor %} 
            </div>
            <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4 p-5">
                <div id="cms" class="text-center p-4">
                    <h3 class="pb-3">CMS</h3>
                </div>
                <div class="divider"></div>
                {% for cm in cms %} 
                    {% if loop.index <= 10 %} 
                    <p><img class="p-4" src="{{ asset('img/competences/' ~ cm.image) }}" alt="image cms"> - {{ cm.titre }}</p>
                    {% endif %} 
                {% endfor %} 
            </div>
        </div>
    </section>
    <div id="about" class="container-fluid">

        <h2 class="p-5">A propos</h2>

        <div class="row p-5">
            <div class="col-md-8 offset-md-2 text-justify">
                {% for apropo in apropos %} 
                <p>{{ apropo.apropos}}</p>
                {% endfor %} 
            </div>
            <div class="col-12 text-center p-3">
                <a class="btn btn-outline-light" href="{{ asset('doc/CVPierreLLORCA_DEVELOPPEURWEB.pdf') }}" target="blank" role="button">Voir mon CV</a>
            </div>
        </div>

    </div>

            </div>
        </div>
        
        <footer class="container-fluid bg-light">
            <div class="row text-center p-5">
                <div class="col-4">
                    <h5>QUELQUES LIENS</h5>
                    <div class="dropdown-divider"></div>
                    <p><a href="{{ path('home') }}">Accueil</a></p>
                    <p><a href="#projets">Projets</a></p>
                    <p><a href="#competences">Compétences</a></p>
                    <p><a href="#about">A propos</a></p>
                    <p><a href="#contact">Contact</a></p>
                </div>
                <div class="col-4 my-auto">
                    <img src="{{ asset('img/logo.png') }}" alt="logo SUBL'IMMO" class="w-80">
                </div>
                <div class="col-4">
                    <h5>COORDONNEES</h5>
                    <div class="dropdown-divider"></div>
                    <p>{{ contact_address }}</p>
                    <p>{{ contact_zip }} {{ contact_city }}</p>
                    <p>{{ contact_phone }}</p>
                    <p>{{ contact_email}}</p>
                </div>
            </div>
            <div class="row" id="copyright">
                <div class="col-12 text-center">
                    <p>{{ copyright }}</p>
                </div>
            </div>
        </footer>

{% endblock %}
